<ActionBar title="Create Discussion">
    <!-- <NavigationButton text="Go Back"> </NavigationButton> -->
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
</ActionBar>
<StackLayout>   
    <StackLayout orientation="vertical">
    <TextField hint="Title"text="" ></TextField>
    <TextField hint="Description"text="" ></TextField>
    <button text="New Discussion" (tap)="createNewDiscussion()" color="red" ></button> 

</StackLayout>
</StackLayout>