<ActionBar title="SelectGroup">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="Gohome()"> </NavigationButton>
</ActionBar>
<StackLayout>   
    <button text="Create New Discussion" (tap)="createDiscussion()" ></button>
</StackLayout>