<ActionBar>
<NavigationButton icon="res://ic_menu_black_36dp" (tap)="openDrawer()">
</NavigationButton> 
 <ActionItem  android.systemIcon="ic_menu_btn_add" android.position="left"(tap)="OnTap()"> </ActionItem> 
  <ActionItem (tap)="logout()"
      ios.position="left"
      text="Logout" 
      android.position="popup"></ActionItem>
</ActionBar>
<!-- <RadSideDrawer #drawer> 
        <StackLayout drawerSide class="p bgc-white">
            <ListView>
            <Label text="Primary" class="sideLabel sideLightGrayLabel"></Label>
            <Label text="Social" class="sideLabel"></Label>
            <Label text="Promotions" class="sideLabel"></Label>
            <Label text="Labels" class="sideLabel sideLightGrayLabel"></Label>
            <Label text="Important" class="sideLabel"></Label>
            <Label text="Starred" class="sideLabel"></Label>
            <Label text="Sent Mail" class="sideLabel"></Label>
            <Label text="Drafts" class="sideLabel"></Label>
            </ListView>
        </StackLayout> -->
<TabView>
    <StackLayout drawerMain *tabItem="{title: 'Forums', iconSource: 'res://icon.png'}" >
        <CardView class="cardStyle" margin="10" elevation="40" >
            <StackLayout>
                <StackLayout orientation="horizontal">
                        <Image src="res://icon" class="image-view"></Image>
                        <Label text='My Discussions' class="h3 p-15" ></Label> 
                </StackLayout>
                <StackLayout >
                    <Label [text]="my_discussion1" [visibility]="visible1" class="datas"></Label>
                    <Label [text]="my_discussion2" [visibility]="visible2" class="datas"></Label>
                    <Label [text]="my_discussion3" [visibility]="visible3" class="datas"></Label>
                    <Label text="more discussions..." margin="5" class="more_datas"></Label>
                </StackLayout>
                
            </StackLayout>
        </CardView>

        <CardView class="cardStyle" margin="10" elevation="40" radius="1" >
            <StackLayout>
                <StackLayout orientation="horizontal">
                        <Image src="res://icon" class="image-view"></Image>
                        <Label text='Discussions' class="h3 p-15" ></Label> 
                </StackLayout>
                <StackLayout >
                        <Label [text]="_discussion1" [visibility]="visible11" class="datas"></Label>
                        <Label [text]="_discussion2" [visibility]="visible22" class="datas"></Label>
                        <Label [text]="_discussion3" [visibility]="visible33" class="datas"></Label>
                        <Label text="more discussions..." margin="5" class="more_datas"></Label>
                </StackLayout>
            </StackLayout>
        </CardView>
        <StackLayout>
            <FAB icon="res://ic_add_circle_black_36dp" rippleColor="#f1f1f1" class="fab-button" (tap)="onTap()"></FAB>
        </StackLayout>
     </StackLayout>
    
    <StackLayout *tabItem="{title: 'My Unit'}">
     
        <CardView class="cardStyle" margin="10" elevation="40" >
            <StackLayout>
                <StackLayout orientation="horizontal">
                        <Image src="res://icon" class="image-view"></Image>
                        <Label text='My Bills' class="h3 p-15" ></Label> 
                </StackLayout>
                <StackLayout >
                     <AbsoluteLayout orientation="horizontal">
                        <Label text="Dues" item-width="50%" class="datas" ></Label>
                        <Label text="Pay by date" left=200% item-width="50%" class="right_datas"></Label>
                    </AbsoluteLayout>
                   <StackLayout orientation="horizontal">
                        <Label [text]="dues_amount" item-width="50%" class="datas"></Label>
                        <Label [text]="due_date" left=200% item-width="50%" class="right_datas"></Label>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </CardView>

        <CardView class="cardStyle" margin="10" elevation="40" radius="1" >
            <StackLayout>
                <StackLayout orientation="horizontal">
                        <Image src="res://icon" class="image-view"></Image>
                        <Label text='My Complains' class="h3 p-15" ></Label> 
                </StackLayout>
                <StackLayout >
                    <AbsoluteLayout orientation="horizontal">
                        <Label text="Open" item-width="50%" class="datas"></Label>
                        <Label text="Closed" left=200% item-width="50%" class="right_datas"></Label>
                    </AbsoluteLayout>
                   <StackLayout orientation="horizontal">
                        <Label [text]="open_complaint" item-width="50%" class="datas"></Label>
                        <Label [text]="closed_complaint" left=200% item-width="50%" class="right_datas"></Label>
                   </StackLayout>
                </StackLayout>
            </StackLayout>
        </CardView>

         <CardView class="cardStyle" margin="10" elevation="40" radius="1" >
            <StackLayout>
                <StackLayout orientation="horizontal">
                        <Image src="res://icon" class="image-view"></Image>
                        <Label text='My Visitors' class="h3 p-15" ></Label> 
                </StackLayout>
                <StackLayout >
                    <AbsoluteLayout orientation="horizontal">
                        <Label text="Expected" item-width="50%" class="datas"></Label>
                        <Label text="Past" left=200% item-width="50%" class="right_datas"></Label>
                    </AbsoluteLayout>
                   <StackLayout orientation="horizontal">
                        <Label [text]="expected_visitors" item-width="50%" class="datas"></Label>
                        <Label [text]="past_visitors" left=200% item-width="50%" class="right_datas"></Label>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </CardView>

     </StackLayout>
    
    <StackLayout *tabItem="{title: 'Community'}">
        <CardView class="cardStyle" margin="10" elevation="40" >
            <StackLayout>
                <StackLayout orientation="horizontal">
                        <Image src="res://icon" class="image-view"></Image>
                        <Label text='Notice Board' class="h3 p-15" ></Label> 
                </StackLayout>
                <StackLayout >
                        <Label [text]="_notice1" [visibility]="visible11" class="datas"></Label>
                        <Label [text]="_notice2" [visibility]="visible22" class="datas"></Label>
                        <Label text="more notices..." margin="5" class="more_datas"></Label>
                </StackLayout>
            </StackLayout>
        </CardView>

        <CardView class="cardStyle" margin="10" elevation="40" radius="1" >
            <StackLayout>
                <StackLayout orientation="horizontal">
                        <Image src="res://icon" class="image-view"></Image>
                        <Label text='Directory' class="h3 p-15" ></Label> 
                </StackLayout>
                <StackLayout >
                    <StackLayout orientation="horizontal">
                        <Label text="Contacts"  class="datas"></Label>
                        <Label text="Staff" class="middle_datas"></Label>
                        <Label text="Pets"  class="right_datas"></Label>

                    </StackLayout>
                   <StackLayout orientation="horizontal">
                        <Label [text]="num_contacts"  class="datas"></Label>
                        <Label [text]="num_staff"  class="middle_datas"></Label>
                        <Label [text]="num_pets"  class="right_datas"></Label>

                   </StackLayout>
                </StackLayout>
            </StackLayout>
        </CardView>
    
     </StackLayout >
</TabView>
<!-- </RadSideDrawer> -->
