Image {
  margin-top: 5;
  margin-bottom: 10;
}
Button, TextField {
  margin-left: 16;
  margin-right: 16;
  margin-bottom: 10;
}
.submit-button {
  background-color: #CB1D00;
  color: white;
  margin-top: 20;
}
.image-view {
  margin-top: 15;
  width:30;
  margin-left: 20;
  height: 30;
}
.h3 {
    color: black;
    text-align: center;
    font-weight: bold;
}
.datas {
    color: black;
    margin-top: 5;
    margin-left: 30;
    font-size: 15;
}
.middle_datas{
  color: black;
  margin-top: 5;
  margin-left: 50;
  text-align: center;
  font-size: 15;
}
.right_datas {
    color: black;
    margin-top: 5;
    text-align: center;
    margin-left: 100;
    font-size: 15;
}
.more_datas {
    color: black;
    text-align: right;
    margin-top: 5;
    margin-left: 30;
    font-size: 15;
}
.fab-button {
    height: 70;
    width: 70; 
    margin: 15;
    background-color:blue; 
    horizontal-align: right; 
    vertical-align: bottom; 
}